 
 #map {
    height: 80%;
  }
  .name{
    font-size: large;
    color: yellowgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .p3Click {
    color: steelblue;
  }
  .address{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .rating{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .service{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
  .services1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }